.skills {
    overflow: hidden;
    background-color: var(--black);
    padding: 40px 0;
}
.skills .row {
    margin-top: 40px;
}
.skills h2,
.skills span {
    font-size: 30px;
    font-weight: 700;
}
.skills h2 {
    color: white;
    background-color: black;
    width: fit-content;
    margin: auto;
    letter-spacing: 2px;
    border-bottom: 4px solid white;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 2px var(--orange);
    padding: 10px;
}
.skills span {
    color: var(--orange);
}
.skills .s-images {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills .s-images img {
    background-color: #eee;
    padding: 10px;
    outline: 3px solid black;
    box-shadow: 0px 0px 5px 4px var(--orange);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    -o-transform: translateX(-600px);
    transition: 0.5s transform linear;
    -webkit-transition: 0.5s transform linear;
    -moz-transition: 0.5s transform linear;
    -ms-transition: 0.5s transform linear;
    -o-transition: 0.5s transform linear;
}
.skills .s-images img:hover {
    box-shadow: 0px 0px 5px 4px var(--orange) inset;
}
@media (max-width:1023px) {
    .skills .s-images img {
        width: 80px;
        padding: 20px;
    }
}
@media (min-width:1024px) {
    .skills .s-images {
        width: 85%;
        margin: auto;
        gap: 30px;
    }
}
.skills .s-images img:nth-child(1) {
    transition-delay: 0.4s;
}
.skills .s-images img:nth-child(2) {
    transition-delay: 0.2s;
}
.skills .s-images img:nth-child(4) {
    transition-delay: 1s;
}
.skills .s-images img:nth-child(5) {
    transition-delay: 0.8s;
}
.skills .s-images img:nth-child(6) {
    transition-delay: 0.6s;
}
.skills .s-images img:nth-child(7) {
    transition-delay: 1.6s;
}
.skills .s-images img:nth-child(8) {
    transition-delay: 1.4s;
}
.skills .s-images img:nth-child(9) {
    transition-delay: 1.2s;
}
.skills .data {
    transform: translateY(25em);
    -webkit-transform: translateY(25em);
    -moz-transform: translateY(25em);
    -ms-transform: translateY(25em);
    -o-transform: translateY(25em);
    transition: 1.6s;
    -webkit-transition: 1.6s;
    -moz-transition: 1.6s;
    -ms-transition: 1.6s;
    -o-transition: 1.6s;
}